* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #EDE7DA;
    color: #2E2E2E;
    line-height: 1.5;
}

.wrapper {
    max-width: 1250px;
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.processing-header {
    width: 100%;
    padding: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.processing-header-inner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.processing-logo {
    height: 70px;
}

footer {
    width: 100%;
    margin-top: auto;
    color: #736345;
    background-color: #D9CFB8;
    padding: 20px 90px;
    border-radius: 20px 20px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-left {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.footer-left p {
    font-size: 13px;
    margin: 0;
}

.footer-logo {
    height: 50px;
}

.footer-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 12px;
}

.footer-link {
    color: #736345;
    text-decoration: none;
    font-size: 14px;
    transition: 0.3s;
}

.footer-link:hover {
    opacity: 0.7;
    text-decoration: underline;
}

.socials {
    display: flex;
    gap: 15px;
}

.social-link img {
    width: 40px;
    height: 40px;
    filter: brightness(0) saturate(100%) invert(29%) sepia(12%) saturate(600%) hue-rotate(20deg) brightness(95%) contrast(90%);
    transition: transform 0.3s;
}

.social-link img:hover {
    transform: scale(1.1);
}

