* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #EDE7DA;
    color: #2E2E2E;
    line-height: 1.5;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    padding: 25px 0;
}

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-left,
.header-center,
.header-right {
    flex: 1; /* три равных контейнера */
    display: flex;
    align-items: center;
}

.header-left {
    justify-content: center;
}

.logo-icon {
    height: 50px;
}

.header-center {
    justify-content: center;
}

.nav {
    display: flex;
    gap: 25px;
}

.nav-link {
    font-size: 16px;
    color: #2E2E2E;
    text-decoration: none;
    font-weight: 500;
    transition: opacity 0.2s;
}

.nav-link:hover {
    opacity: 0.7;
}
.header-right {
    justify-content: center;
}

.try-btn {
    padding: 12px 22px;
    background-color: #2E2E2E;
    color: #EDE7DA;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 600;
    transition: opacity 0.2s;
}

.try-btn:hover {
    opacity: 0.8;
}

.section {
    padding: 120px 0;
    border-bottom: 1px solid #d2c7b5;
}

.section h2 {
    font-size: 42px;
    margin-bottom: 20px;
}

.footer {
    margin-top: auto;
    background-color: #D9CFB8;
    padding: 25px 30px;
    border-radius: 20px 20px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.footer-left p {
    font-size: 13px;
}

.footer-logo {
    height: 80px;
}

.footer-right {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer-link {
    font-size: 13px;
    color: #2E2E2E;
    text-decoration: none;
}

.footer-link:hover {
    opacity: 0.7;
    text-decoration: underline;
}

.socials {
    display: flex;
    gap: 12px;
}

.social-link img {
    width: 40px;
    height: 40px;
}
